/* .lineheight {
  line-height: 0;
} */

.outerDiv {
  display: inline-block;
  width: 100%;
}

.visuallyHidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: 0px;
  display: inline;
}

.breaking {
  display: inline-block;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}
